ds-dev-tools @ git+ssh://git@github.com/CloudCycle/ds-dev-tools.git@v0.0.18
matplotlib==3.8.2
matplotlib-inline==0.1.6
numpy==1.25.2
pandas==2.1.4
plotly==5.18.0
boto3==1.33.13
ipykernel==6.23.0
nbformat>=4.2.0
scipy==1.12.0
scikit-learn==1.5.0
